<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<div class="card card-navy" layout:fragment="content-body">
	<div class="card-header">
		<h3 class="card-title">Data Detail Biodata</h3>
	</div>
	<!-- /.card-header -->
	<!-- form start -->
	<form role="form" id="add_data">
		<div class="card-body bg-secondary">
			<div class="form-group">
				<label for="exampleInputPassword1">NIK</label> <input type="number"
					class="form-control" id="exampleInputNIK" placeholder="Enter NIK">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Nama</label> <input type="text"
					class="form-control" id="exampleInputNama" placeholder="Enter Nama">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Alamat</label> <input type="text"
					class="form-control" id="exampleInputAlamat"
					placeholder="Enter Alamat">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Nomor HP</label> <input
					type="number" class="form-control" id="exampleInputNomor"
					placeholder="Enter Nomor">
			</div>
	 <div class="form-group">
				<label>Tanggal Lahir:</label>
				<div class="form-group">
					<input type="date" class="form-control"
						id="exampleInputTanggalLahir" data-inputmask-alias="datetime"
						data-inputmask-inputformat="dd/mm/yyyy" data-mask="">
				</div>
			</div> 		
			<div class="form-group">
				<label for="exampleInputPassword1">Tempat Lahir</label> <input
					type="text" class="form-control" id="exampleInputTempat"
					placeholder="Enter Tempat">
			</div>
			<!-- /.input group -->
		</div>
	</form>
	<div class="card-footer" align="right">
		<button id="submitaja" type="button" class="btn bg-navy toastsDefaultSuccess">Submit</button>
	</div>
	 <div class="card-body">
                <table class="table table-striped table-bordered table-hover nowrap" id="tableBiodata"
                       style="width:100%"></table>
            </div>
<!-- <table id="tblAddRow" border="1">
			<thead align="center" class = "bg-navy">
				<tr>
					<th>NIK</th>
					<th>Nama</th>
					<th>Alamat</th>
					<th>HP</th>
					<th>Tanggal Lahir</th>
					<th>Tempat Lahir</th>
					<th>Umur</th>
					<th>Pendidikan Terakhir</th>
				</tr>
			</thead>
			<tbody id="isi" class= "bg-secondary" align="center">
			</tbody>
		</table> -->		
	
<!-- <script
		src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.min.js"></script> -->	
	<th:block layout:fragment="add-scripts">
<script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <script>
        createTableBiodata()


        function createTableBiodata(){
            $.ajax({
                url: '/api/PersonBiodataDto/all',
                method: 'get',
                contentType: 'application/json',
                success: function (res, status, xhr) {
                    if (xhr.status == 200 || xhr.status == 201) {
                        $('#tableBiodata').DataTable({
                            data: res,
                            columns: [
                            	
                            	{
                                    title: "NIK",
                                    data: "niK"
                                },                            	                                                    	
                                {
                                    title: "Nama",
                                    data: "namA"
                                },
                                {
                                    title: "Alamat",
                                    data: "alamaT"
                                },
                                {
                                    title: "Nomor HP",
                                    data: "hp"
                                },
                                {
                                    title: "Tanggal Lahir",
                                    data: "tglLahir"
                                },
                                {
                                    title: "Tempat Lahir",
                                    data: "tmpLahir"
                                },
                            ],
                            "scrollX": true
                        });

                    } else {

                    }
                },
                erorrr: function (err) {
                    console.log(err);
                }
            });
        }


    </script>
</th:block>
</div>
</html>