<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div class="row mb-2 " layout:fragment="content-header">
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Data Detail Biodata</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Biodata</a></li>
            <li class="breadcrumb-item active">Kelola</li>
        </ol>
    </div>
</div>

<div class="row" layout:fragment="content-body">


    <div class="col-12">
        <div class="card bg-default">
            <div class="card-header bg-gray-dark">
                <h3 class="card-title text-default">List Biodata</h3>
                <button class="float-right bg-gray" id="btn-tambah-biodata">Tambah</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table class="table table-striped table-bordered table-hover nowrap" id="tableBiodata"
                       style="width:100%"></table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->


    <div class="modal fade" id="modal-biodata">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-secondary">
                <div class="modal-header bg-gray-dark">
                    <h4 class="modal-title text-default">Form Person Biodata</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-header">

                    </div>
                    <form id="form-biodata" role="form">
                        <input name="iD" id = "idperson" type="hidden"/>
                         <input name="idBio" id = "idbio" type="hidden"/>

                        <div class="form-group">
                            <label>NIK : </label>
                            <input class="form-control" id="niK" name="niK"
                                   placeholder="Enter NIK" required type="text">
                        </div>

                        <div class="form-group">
                            <label>Nama : </label>
                            <input class="form-control" id="namA" name="namA"
                                   placeholder="Enter Nama" required type="text">
                        </div>

                        <div class="form-group">
                            <label>Alamat : </label>
                            <input class="form-control" id="alamaT" name="alamaT"
                                   placeholder="Enter Alamat" required type="text">
                        </div>

                        <div class="form-group">
                            <label>Nomor HP: </label>
                            <input class="form-control" id="hp" name="hp"
                                   placeholder="Enter Nomor" required type="number">
                        </div>
                         <div class="form-group">
                            <label>Tanggal Lahir: </label>
                            <input class="form-control" id="tglLahir" name="tglLahir"
                                   placeholder="Enter Tanggal Lahir" required type="date">
                        </div>
                       <!-- <div class="form-group">
                            <label>Tanggal Lahir:</label>
                            <div class="form-group">
                                <input type="date" class="form-control date"
                                    id="tglLahir" name="tglLahir" data-inputmask-alias="datetime"
                                    data-inputmask-inputformat="dd/mm/yyyy" data-mask="">
                            </div>
                        </div> 		 --> 
						 <div class="form-group">
                            <label>Tempat Lahir: </label>
                            <input class="form-control" id="tmpLahir" name="tmpLahir"
                                   placeholder="Enter Tempat" required type="text">
                        </div>

                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="bg-gray-dark" data-dismiss="modal" type="button">Close</button>
                    <button class="bg-gray-dark" id="btn-save-biodata" type="button">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>


<th:block layout:fragment="add-scripts">
    <script th:src="@{/assets/js/modal.js}"></script>

    <script>
     
        tableBiodata.create();


        $('#btn-tambah-biodata').click(function () {
        	$('#idperson').val('');
        	$('#idbio').val('');
            formBiodata.resetForm();
            $('#modal-biodata').modal('show')
        });

        $('#btn-save-biodata').click(function () {
            formBiodata.saveEdit()
        })

    </script>
</th:block>

</html>


