 <!DOCTYPE html>
<html layout:decorate="~{base}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<div class="card card-navy" layout:fragment="content-body">
	<div class="card-header" id="modal-pendidikan">
		<h3 class="card-title">Data Detail Pendidikan</h3>
	</div>
	<!-- /.card-header -->
	<!-- form start -->
	<form role="form" id="datapendidikan">
		<div class="card-body bg-secondary">
			
			<div class="form-group">
				<label for="exampleInputId">Idperson</label> <input type="number"
					class="form-control" name="id_person" id="iD"
					placeholder="Enter Nomor Id">
			</div>

			<div class="form-group">
				<label for="Pendidikan"> Pendidikan : </label> <select
					class="form-control" name="jenjangpendidikan" id="jenjang">
					<option selected>Pilih...</option>
					<option data-select2-id="30">SD</option>
					<option data-select2-id="31">SMP</option>
					<option data-select2-id="32">SMA</option>
					<option data-select2-id="33">D3</option>
					<option data-select2-id="34">S1</option>
					<option data-select2-id="35">S2</option>
					<option data-select2-id="36">S3</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputInstitusi">Institusi</label> <input
					type="text" class="form-control" name="institusipendidikan" id="institusi"
					placeholder="Enter Institusi">
			</div>
			<div class="form-group">
				<label for="exampleInputMasuk">Tahun Masuk</label> <input
					type="number" class="form-control" name="tahunmasuk"
					id="tahunMasuk" placeholder="Enter Tahun">
			</div>
			<div class="form-group">
				<label for="exampleInputLulus">Tahun Lulus</label> <input
					type="number" class="form-control" name="tahunLulus"
					id="tahunLulus" placeholder="Enter Tahun">
			</div>
			<!-- </fieldset> -->
		</div>
		<a href="javascript:void(0);" align="right" class="addForm">Tambah
			Pendidikan</a>
		<fieldset class="card card-outline card-gray-dark">
			<div class="form-group" id="additional"></div>
		</fieldset>


		<!-- /.input group -->

	</form>
	<div class="modal-footer justify-content-between">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" id="btn-save-biodata" type="button">Save</button>
                </div>
<!-- <div class="card-footer" align="right">
		<button id="submitaja" type="button" class="btn bg-navy">Submit</button>
	</div>
 -->	
	<script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.min.js"></script>
	<script>
		
			$(document).ready(function() {
				
								$(".addForm").click(function() {
													$("#additional").append(
																			'<div class="card-body bg-secondary">'
																		 	+ '<fieldset class="card card-outline", id="fs">'
																			+ '<div class="form-group bg-secondary">'
																			+ '<label for="pendidikan">Pendidikan:</label><select class="form-control" id="jenjang">'
																			+ '<option selected>Pilih...</option>'
																			+ '<option value="sd">SD</option>'
																			+ '<option value="smp">SMP</option>'
																			+ '<option value="sma">SMA</option>'
																			+ '<option value="s1">S1</option>'
																			+ '<option value="s2">S2</option>'
																			+ '<option value="s3">S3</option>'
																			+ '</select>'
																			+ '</div>'
																			+ '<div class="form-group bg-secondary">'
																			+ '<label for="institusi">Institusi:</label><input type="text" class="form-control" id="institusi" placeholder="Enter institusi">'
																			+ '</div>'
																			+ '<div class="form-group bg-secondary">'
																			+ '<label for="masuk">Tahun Masuk:</label><input type="text" class="form-control" id="masuk" placeholder="Enter tahun ">'
																			+ '</div>'
																			+ '<div class="form-group bg-secondary">'
																			+ '<label for="lulus">Tahun Lulus:</label><input type="text" class="form-control" id="lulus" placeholder="Enter tahun">'
																			+ '</div>'
																			+ '<a href="javascript:void(0);" class="remAdd">Remove</a>'
																			+																			
																			'</fieldset>'
																			+ '</div>'
																			);
												});
								$('#additional').on('click','.remAdd',function() {
													$(this).parent('fieldset').remove();
												});
							});
	</script>

<th:block layout:fragment="add-scripts">
<script th:src="@{/assets/js/pendidikan.js}"></script>
 <script>
 formBiodata.create();

 $('#iD').click(function () {
     formBiodata.resetForm();
     $('#modal-pendidikan').modal('show')
 });
 
 $('#jenjang').click(function () {
     formBiodata.resetForm();
     $('#modal-pendidikan').modal('show')
 });
 
 $('#institusi').click(function () {
     formBiodata.resetForm();
     $('#modal-pendidikan').modal('show')
 });
 
 $('#tahunMasuk').click(function () {
     formBiodata.resetForm();
     $('#modal-pendidikan').modal('show')
 });
 
 $('#tahunLulus').click(function () {
     formBiodata.resetForm();
     $('#modal-pendidikan').modal('show')
 });
 
 $('#btn-save-biodata').click(function () {
     formBiodata.saveForm()
 })
	
				
    </script> 	



	<script>
		$(document).ready(function() {
			$("#btn-save-biodata").click(function() {
				Swal.fire({
					position : 'center-middle',
					icon : 'success',
					title : 'Success!! Your data has been saved',
					showConfirmButton : false,
					timer : 1500
				})
			});
		});
	</script>


	<!-- <script type="text/javascript">
  $(function() {
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });
    $('.toastsDefaultSuccess').click(function() {
        $(document).Toasts('create', {
          class: 'bg-success', 
          title: 'Toast Title',
          subtitle: 'Subtitle',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
  });

  </script> -->

</div>
</html>